@using kitapderyasiFinal.Models
@model OrderDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div>
        <h4>Sipariş Bilgileri</h4>
        <hr />
        <div class"row">
            @if (TempData["mesaj"] != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>	<i class="icon fa fa-check"></i> Başarılı!</h4>
                    Bilgileriniz kaydedildi.
                </div>
            }
        </div>
        <dl class="dl-horizontal">
            <dt>
                Sipariş Durumu
            </dt>
            <dd>
                @using (Html.BeginForm("UpdateOrderState","Order",FormMethod.Post))
            {
                @Html.HiddenFor(i=>i.OrderId)
                    @Html.EnumDropDownListFor(i=>i.OrderState,"Sipariş Durumunu Seç", new {@class="form-control"})
                    <button type="submit" class="btn btn-primary">Güncelle</button>
            }
            </dd>
            <dt>Kullanıcı Adı</dt>
            <dd>
                @Html.DisplayFor(Model => Model.UserName)
            </dd>
            <dt>Sipariş Numarası</dt>
            <dd>
                @Html.DisplayFor(Model => Model.OrderNumber)
            </dd>
            <dt>Toplam Tutar</dt>
            <dd>
                @Html.DisplayFor(Model => Model.Total)
            </dd>
            <dt>Sipariş Tarihi</dt>
            <dd>
                @Html.DisplayFor(Model => Model.OrderDate)
            </dd>
            <dt>Adres   </dt>
            <dd>
                Adres:  @Html.DisplayFor(Model => Model.Adres) <br />
                Mahalle:  @Html.DisplayFor(Model => Model.Mahalle) <br />
                İlçe:  @Html.DisplayFor(Model => Model.Semt) <br />
                Şehir:  @Html.DisplayFor(Model => Model.Sehir) <br />
                PostaKodu:  @Html.DisplayFor(Model => Model.PostaKodu) <br />
            </dd>
        </dl>
    </div>
  
</section>
