@using kitapderyasiFinal.Models
@model IEnumerable<AdminOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Sipariş Listesi</h3>
                </div><!-- /.box-header -->
                <br />
          
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sipariş Id</th>
                                <th>Sipariş Numarası</th>
                                <th>Sipariş Tarihi</th>
                                <th>Sipariş Durumu</th>
                                <th>Toplam Fiyat</th>
                                <th>Ürün Sayısı</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.OrderNumber</td>
                                    <td>@item.OrderDate</td>
                                    <td>@item.OrderState</td>
                                    <td>@item.Total</td>
                                    <td>@item.Count</td>
                                    
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("Details",new {id=item.Id})"> <i class="fa fa-fw fa-edit"></i>Sipariş Detay</a>
                                     </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                            <tr>
                                <th>Sipariş Id</th>
                                <th>Sipariş Numarası</th>
                                <th>Sipariş Tarihi</th>
                                <th>Sipariş Durumu</th>
                                <th>Toplam Fiyat</th>
                                <th>Ürün Sayısı</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>
