@using kitapderyasiFinal.Entity
@model IEnumerable<Product>

<div class="row" style="margin-left:100px">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
               @Html.Action("_CategoryList","Category")
                <li style="border:0"> &nbsp;</li>
              @Html.Action("Summary","Cart")
            </ul>
        </div>

        
        @Html.Action("_FeaturedProductList","Home")

    </div>
    <div class="span9" style="margin-left:50px">
        <div class="well np" style="min-width:747px">
          @Html.Action("Slider","Home")
        </div>
        <!--
        New Products
        -->
        <div class="well well-small" style="min-width:730px">
            <h3>Ürünler </h3>
            <hr class="soften" />
            
            <div class="row-fluid">
                <ul class="thumbnails" style="background-color: #F3F2F2">
                    @foreach (var item in Model)
                    {
                        <li class="span4" style="max-width:217px;max-height:417px;min-width:217px;min-height:417px;padding:0px;margin:13px" >
                            <div class="thumbnail" style="max-width: 217px; max-height: 417px; min-width: 217px; min-height: 417px; background-color: #F3F2F2 ">

                                <h4><a class="shopBtn" href="/Home/ProductDetails/@item.Id" title="add to cart" style="color:white;background-color: #65a1b9;margin-left:90px"><i class="fa icon-search" aria-hidden="true"></i></a></h4>
                                <a href="/Home/ProductDetails/@item.Id"><img src="~/Content/image/@item.Image" alt="" style="max-width:207px;max-height:206px;min-width:207px;min-height:267px"></a>
                                <div class="caption cntr">
                                    <p>@item.Name</p>
                                    <p><strong> @item.Price ₺</strong></p>

                                    <br class="clr">
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!--
        Featured Products
        -->
       
    </div>
</div>