@model kitapderyasiFinal.Entity.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <h3>Bu ürünü silmek istediğinize emin misiniz?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">

            <dt>
                Ürün Adı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Marka / Yayınevi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>

            <dt>
                Yazar
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Writer)
            </dd>

            <dt>
                Açıklama
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Fotoğraf
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                Fiyat
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                Renk
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Colour)
            </dd>

            <dt>
                Stok
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stock)
            </dd>

            <dt>
                Slayt
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slider)
            </dd>

            <dt>
                Anasayfa
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsHome)
            </dd>

            <dt>
                Önerilen
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsFeatured)
            </dd>

            <dt>
                Onaylı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsApproved)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger" /> |
                @Html.ActionLink("Ürün Listesi", "Index", null, new { @class = "btn btn-warning" })
            </div>
        }
    </div>
</section>