@model kitapderyasiFinal.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_CategoryList", "Category")
                <li style="border:0"> &nbsp;</li>
                @Html.Action("Summary", "Cart")
            </ul>
        </div>


        @Html.Action("_FeaturedProductList", "Home")

    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Anasayfa</a> <span class="divider">/</span></li>
            <li class="active">Şifre Değiştirme</li>
        </ul>

        <hr class="soft" />
        <div class="well">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <h3>Şifrenizi değiştirebilirsiniz.</h3>
                @Html.AntiForgeryToken()

                <div class="control-group">
                    <label class="control-label" for="inputFname">Eski Şifre <sup>*</sup></label>
                    <div class="controls">
                        @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputLname">Yeni Şifre <sup>*</sup></label>
                    <div class="controls">
                        @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputLname">Yeni Şifre (Tekrar) <sup>*</sup></label>
                    <div class="controls">
                        @Html.PasswordFor(model => model.ConNewPassword, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                        @Html.ValidationMessageFor(model => model.ConNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submitAccount" value="Şifre Değiştir" class="exclusive shopBtn" style="background-color: #65a1b9">
                    </div>
                </div>
            }
        </div>


    </div>
</div>

