@model kitapderyasiFinal.Models.OrderDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="span12">
        <div class="well well-small">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Sipariş Id</th>
                        <th>Sipariş Numarası</th>
                        <th>Sipariş Tarihi</th>
                        <th>Toplam Tutar (₺)</th>
                        <th>Sipariş Durumu</th>
                        <th>Adres</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>@Model.OrderId</td>
                        <td>@Model.OrderNumber</td>
                        <td>@Model.OrderDate</td>
                        <td>@Model.Total</td>
                        <td>
                            @if (Model.OrderState == kitapderyasiFinal.Entity.OrderState.Bekleniyor)
                            {
                                <a class="btn btn-danger">Sipariş Bekleniyor</a>
                            }
                            else if (Model.OrderState == kitapderyasiFinal.Entity.OrderState.Tamamlandı)
                            {
                                <a class="btn btn-success">Sipariş Tamamlandı</a>
                            }
                            else if (Model.OrderState == kitapderyasiFinal.Entity.OrderState.Paketlendi)
                            {
                                <a class="btn btn-info">Sipariş Paketlendi</a>
                            }
                            else if (Model.OrderState == kitapderyasiFinal.Entity.OrderState.Kargolandı)
                            {
                                <a class="btn btn-primary">Sipariş Kargolandı</a>
                            }
                        </td>
                        <td>
                            @Model.Adres <br />
                            @Model.Sehir <br />
                            @Model.Semt <br />
                            @Model.Mahalle <br />
                            @Model.PostaKodu<br />
                        </td>
                    </tr>

                </tbody>
            </table><br>
       
        </div>
    </div>
</div>

